{#-
Jina2 template que construeeix una playlist per VLC a partir de les adreces 
multicast seledcionades. Les jerarquitza segosn el Custom Field playlistVLC

Format de la playlist: https://wiki.videolan.org/XSPF/

Toni Comerma
desembre 2024
versio: 0.00001
-#}
<?xml version="1.0" encoding="UTF-8"?>
<playlist version="1" xmlns="http://xspf.org/ns/0/"
xmlns:vlc="http://www.videolan.org/vlc/playlist/ns/0/">
   <title>Canals IPTV</title>
   <location>X:\Canals.xspf</location>
   <trackList>
{%- set ns = namespace(count=0, level=0, curr=[], index="") %}
{%- set items = [] %}
{%- for ip in queryset %}
      <track>
           <location>udp://@{{ ip.address.ip }}:5000</location>
           <album>{{ ns.count }}</album>
           <title>{{ ip.description }}</title>
           <annotation>{{ ip.description }}</annotation>
           <extension application="http://www.videolan.org/vlc/playlist/0">
               <vlc:id>{{ ns.count }}</vlc:id>
           </extension>
       </track>
{%-   if ip.cf.playlistVLC is not none %}
{%-     set dummy = items.append ({"folder":ip.cf.playlistVLC, "index":ns.count})  %}
{%-     set ns.count = ns.count + 1 %}
{%-  endif %}
{%- endfor %}
   </trackList>
   <extension application="http://www.videolan.org/vlc/playlist/0">
{%- set ns.curr = [] %}
{%- for i in items|sort(attribute='folder,index') %}
{%-   set folder = i['folder'].split('/') %}
{%-   set ns.index = i['index'] %}
{%-   for j in folder %}
{#-
- folder (llista amb nivells de la carpeta): {{ folder }}
- ns.level (nivell de la carpeta en curs): {{ ns.level }}
- ns.curr (llista de nivells de carpeta de l'element anterior): {{ ns.curr }}
- longitud de ns.curr: {{ ns.curr|length }}
- ns.curr[ns.level] (element actaul de ns.curr): {{ ns.curr[ns.level] }}
- j (index del element de folder en curs): {{ j }}
#}
{%-     if ns.curr|length <= ns.level %}
      <vlc:node title="{{ j }}">
{%-     set dummy = ns.curr.append(j) %}
{%-     elif ns.curr[ns.level] == j %}
{%-     else %}
{%-        for n in range(ns.curr|length - ns.level) %}
{%-          set dummy = ns.curr.pop() %}
       </vlc:node>
{%-        endfor %}
        <vlc:node title="{{ j }}">
{%-        set dummy = ns.curr.append(j) %}
{%-      endif %}
{%-      set ns.level = ns.level+1 %}
{%-   endfor %}
               <vlc:item tid="{{ ns.index }}" />
{%-   set ns.level = 0 %}
{%- endfor %}
{%- for n in range(ns.curr|length - ns.level ) %}
       </vlc:node>
{%-   endfor %}
   </extension>
</playlist>