{#-
Exportacio de devices en format re-importable per excel
Toni Comerma
juny 2025
versio: 1.0

Notes: 
  - Joc de caracters
    Exportació: Si es vol poder reimportar a xls sense problemes, escollir MIME type "text/csv; charset=cp1252". 
                Aquest és el valor suggerit.
    Importació: Excel sempre exporta en cp1252. Netbox només importa utf-8. Cal passar per un script per fer el canvi
      Exemple: Des d'un powershell
          Get-Content win.csv | Set-Content -Encoding utf8 utf8.csv
Pendent: 

-#}
{% set ns = namespace(count=0, level=0, curr=[], index="") -%}
id;role;manufacturer;device_type;status;site;name;tenant;platforma;serial;asset_tag;location;rack;position;face;latitude;longitude;parent;device_bay;airflow;virtual_chassis;vc_position;vc_priority;cluster;description;config_template;comments;tags
{% for d in queryset -%}
{{ d.id }};{{ d.role or '' }};{{ d.device_type.manufacturer or '' }};{{ d.device_type or '' }};{{ d.status or '' }};{{ d.site or '' }};{{ d.name or '' }};{{ d.tenant or '' }};{{ d.platforma or '' }};{{ d.serial or '' }};{{ d.asset_tag or '' }};{{ d.location or '' }};{{ d.rack or '' }};{{ d.position or '' }};{{ d.face or '' }};{{ d.latitude or '' }};{{ d.longitude or '' }};{{ d.parent or '' }};{{ d.device_bay or '' }};{{ d.airflow or '' }};{{ d.virtual_chassis or '' }};{{ d.vc_position or '' }};{{ d.vc_priority or '' }};{{ d.cluster or '' }};{{ d.description or '' }};{{ d.config_template or '' }};{{ d.comments or '' }};"
   {%- for tag in d.tags.slugs() -%}
{{ tag }}{%- if not loop.last -%},{%- endif -%}
   {%- endfor -%}"
{% endfor -%}